@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Seller Page";
}

@namespace INF27507_Boutique_En_Ligne.Models
@Model Seller

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <div class="container">
                        <form role="form">

                              <h1 class="display-4 mt-4 mb-4"> Modifier Information</h1>

                                  <div>
                                      <form asp-action="Create">
                                      <div class="form-outline mb-4">
                   
                                      <label class="form-label" asp-for="Lastname">Nom</label>
                                      <span><input class="text-danger" asp-validation-for="Lastname" /></span>
                                  </div>
                                
                                  <div class="form-outline mb-4">
               
                                    <label class="form-label" asp-for="Firstname">Prénom</label>
                                    <span><input class="text-danger" asp-validation-for="Firstname"/></span>
                                  </div>
                                
                                  <div class="form-outline mb-4">
                   
                                     <label class="form-label" asp-for="Username">Identifiant</label>
                                     <span class="form-text" id="Identifiant">Identifiant</span>
                                  </div>

                                  <div class="d-flex justify-content-center">
                                      <button type="submit" class="btn btn-success btn-lg">Modifier</button>
                                      <button type="submit" class="btn btn-success btn-lg">Retour</button>
                                  </div>
                                  
                       </form>
                    </div>
                  </div>
                </div>
             </div>
         </div>
     </div>
</div>