@{
    ViewData["Title"] = "Home Page";
}

@namespace INF27507_Boutique_En_Ligne.Models
@model List<Product>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row mt-2 mb-2">
    <div class="col">
        @{
            foreach(Product product in @Model)
            {
                <partial name="_ProductCard" model=product />
            }
        }
    </div>
</div>
