@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cart Page";
}

@namespace INF27507_Boutique_En_Ligne.Models
@model List<CartItem>

<h1 class="display-4">Cart</h1>

<div class="row mt-2 mb-2">
    <div class="col">
        @{
            foreach(CartItem item in @Model)
            {
                <partial name="_CartItem" model=item />
            }
        }
    </div>
</div>